@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(197, 249, 129, 0.394) 0%,
    rgba(34, 193, 195, 1) 100%
  );

  font-family: 'Noto Sans', sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:hover svg {
  fill: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
